<!--
    Configuring this stuff here is temporary. Later we'll move the app config
    into Startup.cs, and it won't be necessary to specify AppAssembly.
-->
<CascadingAuthenticationState>
    <Router AppAssembly="typeof(App).Assembly">
        <NotFoundContent>
            <p>Sorry, there's nothing at this address.</p>
        </NotFoundContent>
    </Router>
</CascadingAuthenticationState>
