@page "/"

<div>
    <div class="display-1" style="letter-spacing:0.2em">ESME</div>
    <div class="h2"><a style="color:black;letter-spacing:0.5em;text-decoration:none" href="/enter">ENTRANCE</a></div>
</div>
