@page "/circle/{Id:int}"
@inherits CircleBase

@if (Messages == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var message in Messages)
    {
        <div>
            On @message.SentAt @message.SentBy said:<br /> 
            @message.Text
        </div>
    }
}

