@page "/home"
@inherits HomeBase

@if (CirclesState.Value.ErrorMessage != null)
{
    <h1>Error</h1>
    <p>@CirclesState.Value.ErrorMessage</p>
}

@if (CirclesState.Value.IsLoading)
{
    <p>Loading...</p>
}

@if (CirclesState.Value.Circles != null)
{
    @foreach (var circle in CirclesState.Value.Circles)
    {
        <div>
            <button type="button" class="btn btn-link ml-md-auto" @onclick="(() => CircleClick(circle))">@circle.Name</button>
            @if (circle.NumberOfUnreadMessages > 0)
            {
                <span class="badge badge-secondary">@circle.NumberOfUnreadMessages</span>
            }
        </div>
    }
}
