@page "/"
@layout FlowerOfLifeLayout
@implements IDisposable
@inject IJSRuntime JSRuntime

<div class="container text-center">
    <div class="display-1" style="letter-spacing:0.2em;padding-left:0.2em">
        <a style="color:white;text-decoration:none;opacity:0.0" href="/enter">
            ESME @* hack to have something clickable *@
        </a>
    </div>
</div>

@functions {
    protected override async Task OnAfterRenderAsync()
    {
        await JSRuntime.InvokeAsync<string>("startAnimation");
    }

    public void Dispose()
    {
        JSRuntime.InvokeAsync<string>("endAnimation");
    }
}
