@page "/"
@inherits  IndexBase

<AuthorizeView>
    <Authorized>
        <RedirectToHome />
    </Authorized>
    <NotAuthorized>
        <div class="display-1" style="letter-spacing:0.2em;padding-left:0.2em">
            <Button style="color:white;text-decoration:none;opacity:0.0" @onclick="@Enter">
                ESME @* hack to have something clickable *@
            </Button>
        </div>
    </NotAuthorized>
</AuthorizeView>
