@page "/"
@inject IJSRuntime JSRuntime

<div>
    <div class="display-1" style="letter-spacing:0.2em;padding-left:0.2em">
        <a style="color:white;text-decoration:none;opacity:0.0" href="/enter">
            ESME
        </a>
    </div>
</div>

@functions {
    protected override async Task OnInitAsync()
    {
        await JSRuntime.InvokeAsync<string>("startAnimation");
    }
}
