@page "/login"
@inherits LoginBase
@layout MainLayout

<AuthorizeView>
    <Authorized>
        <RedirectToHome />
    </Authorized>
    <NotAuthorized>
        <form onsubmit="@OnSubmit">
            <div class="form-item">
                <label for="inputUsername" class="sr-only">User Name</label>
                <input id="inputUsername" class="form-control" placeholder="Username" required autofocus @bind="LoginParameters.UserName" />
            </div>
            <div class="form-item">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required @bind="LoginParameters.Password" />
            </div>
            <div class="form-item" style="text-align: left">
                <label class="form-check-label" for="inputRememberMe">
                    <input type="checkbox" id="inputRememberMe" class="form-check-input" @bind="LoginParameters.RememberMe" />
                    Remember Me
                </label>
            </div>
            <div class="form-item">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
            <div>
                <label class="text-danger">@Error</label>
            </div>
        </form>
    </NotAuthorized>
</AuthorizeView>

