@page "/data"
@inherits DataBase

<button disabled=@IsDeleteAllDisabled @onclick="DeleteAll">
    Delete All Data
</button>

<button disabled=@IsResetAllWithSampleDataDisabled @onclick="ResetAllWithSampleData">
    Reset with Sample Data
</button>

<button disabled=@IsMigrateDisabled @onclick="Migrate">
    Migrate
</button>