@page "/data"
@inherits DataBase

<button disabled=@IsWorking @onclick="DeleteAll">
    Delete All Data
</button>

<button disabled=@IsWorking @onclick="ResetAllWithSampleData">
    Reset with Sample Data
</button>

<button disabled=@IsWorking @onclick="Migrate">
    Migrate
</button>